<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded!=false" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka Adı</th>
        </tr>

    </thead>

    <tr *ngFor= "let carImage of carImages">
        <td>{{carImage.id}}</td>
        <td>{{carImage.carId}}</td>
        <td>{{carImage.imagePath}}</td>
        <td>{{carImage.Date}}</td>
    </tr>
</table>